# python
venv/
__pycache__/
*.pyc
*.egg-info/
apps/api/src/jos_api.egg-info/

# nextjs
.next/
out/
.next
apps/web/.next/
apps/web/out/

# node
node_modules/
apps/web/node_modules/

# env
.env
.env.local

# os
.DS_Store
.idea/
.vscode/
